#mainhome{
   padding-top: 0px;
   margin-top: 0px;
    width: 50%;
    height: 1000px;

margin-left: 25%;
}

#searchbox{
    width: 80%;
    height: 60px;
    border: none;
    
}
.databox{
    width: 12.5%;
    height: 100%;
    cursor: pointer;
 
}
#locsign{
    height: 20px;
    padding-right: 3%;
    
}
#box{
    background-color: white;
    width: 100%;
    border: 1px solid black;

}
.graphbox{
    margin-right: 80%;
}
#secondbox{
   
    width: 100%;
    border: 1px solid black;
    display: flex;
    overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
}
#searchbtn{
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
        #mainhome {
                padding-top: 0px;
                margin-top: 0px;
                width: 80%;
                height: 1000px;
        
                margin-left: 10%;
            }

                              
    /* Extra small devices (phones, 600px and down) */
.databox {
        width: 100%;
        height: 100%;
        margin-left: 7%;
        cursor: pointer;

    }
    
   
}


.imgsetting{
    height: 50px;
 
}
.newimgsetting{
    padding-left: 15%;
    height: 50px;
}
#thirdbox{
    height: 500px;
    width: 100%;
    border: 1px solid black;
}
.pressure{
    border: 1px solid black;
    width: 30%;
    margin: 9%;
    background-color: #F3FBFF;
}
.fourthbox{
    display: flex;
}
#fifthbox{
    display: flex;
}
#secbox{
    padding-left: 80%;
}
#firbox{
    padding-left: 2%;
}










.search {
	width: 50vw;
	padding: 7px;
	font-size: 1.3rem;
	color: rgb(99, 99, 99);
	box-sizing: border-box;
	outline: none;
	border-radius: 5px;
	font-weight: bold;
}
#searchsuggestion{
    position: absolute;
    z-index: 1;
}

.autocomplete {
	width: 50vw;
	background: #ffff;
	border-radius: 5px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.autocompleteItems {
	border-bottom: 1px solid #e6e6e6;
	padding: 10px 5px;
	cursor: pointer;
}

.autocompleteItems:hover {
	background: rgb(228, 226, 226);
}